@import "css/settings";

@mixin input() {
  background-color: transparent;
  border: 1px solid $color-white;
  border-radius: 5px;
  transform: none;
  font-size: 14px;
  color: $color-white;
  height: 35px;
  width: 100%;
  font-style: italic;
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 17px;
  outline: none;
  padding-left: 10px;

  &::placeholder {
    color: $color-another-blue;
  }
}
